@media (max-width: 600px) {
  body {
    background-image: url(./images/pattern-background-mobile.svg);
    background-size: contain;
  }

  .container {
    width: 85%;
  }

  .plano {
    flex-direction: row;
    padding: 1rem;
  }

  .titulo {
    font-size: 1.3rem;
  }
}